.event {
  margin: x;
}
.event-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.event-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.event-description * {
  color: white;
}

.event-description a {
  color: #d0d0ff;
}

.event-description small {
  color: #e0e0e0;
}

.event-info-inner {
  background:rgba(0, 0, 0, 0.4);
}

.event-map {
  margin: 20px 0;
  width: 100%;
  height: 400px;
}

.event-comments a {
  color: #bfbfbf;
}

.event-comments a:hover {
  color: #e3e3e3;
}

.event-subscription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.event-subscription-user {
  margin-bottom: 10px;
}

.event-photos {
  padding: 15px;
  background-color: #DCDCDC;
  box-shadow: 0 0 7px #535353;
}

.event-photo-block {
  word-spacing: 10px;
}

.event-photo {
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  height: 120px;
}

.event-subscribers-icon {
  margin: 0 20px;
}

.event-lock-icon {
  float: right;
  padding-right: 10px;
}
