<div class="event-photos buffer-both">
  <div class="event-photo-block">
    <%= link_to image_tag(photo.photo.thumb.url, class: 'event-photo'), photo.photo.url %>
    <%= t('pages.photos.add') %> <%= render partial: 'users/user', object: photo.user %>
  </div>
</div>